<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="wrapper" class="wrapper-content" >
    <div id="sidebar-wrapper" style="width:80px;background-color:#fddee3">
        <ul class="sidebar-nav" style="width:80px" >
            <li class="pt-3">
              <div class="pt-3"></div>
                <a class="mt-3 mb-5" routerLink="/notes"> <img src="/assets/img/new-notepad-design.jpg" alt="Notes" style="width:40px;height:40px;" title="Notes"> </a>
            </li>
            <li>
              <a class="mt-4 mb-5" routerLink="/calendar"> <img src="/assets/img/new-calendar-design.png" alt="Calendar" style="width:40px;height:40px;" title="Calendar"> </a>
            </li>
            <li>
              <a class="mt-4 mb-5" routerLink="/to-do-list"> <img src="/assets/img/new-list-design.png" alt="To Do List" style="width:40px;height:40px;" title="To Do List"> </a>
            </li>
            <li>
              <a class="mt-4 mb-5" routerLink="/calculator"> <img src="/assets/img/new-calculator-design.png" alt="Calculator" style="width:40px;height:40px;" title="Calculator"> </a>
            </li>

        </ul>
    </div>

    <div id="page-content-wrapper"  >
        <div class="container-fluid" >
            <div class="row">
                <div class="col-lg-12">
                  <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>



  </div>


