<h1 class="pt-3">Notes</h1>
<form>
  <label class="mt-3">Title</label>
  <input type="text" class="form-control">
  <label class="mt-3" for="content-text-area">Content</label>
  <textarea class="form-control" id="content-text-area" rows="3"></textarea>
  <button type="submit" class="btn btn-primary mt-3" style="background-color:#011d52;border-color:#ffffff">  Add Note </button>
</form>
<br/>
<br/>
<div class="jumbotron" style="background-color:#fddee3;">
  <h2>Title</h2>
  <br>
  <p class="lead">Unfeeling so rapturous discovery he exquisite. Reasonably so middletons or impression by terminated. Old pleasure required removing elegance him had. Down she bore sing saw calm high. Of an or game gate west face shed. ﻿no great but music too old found arose.

    At every tiled on ye defer do. No attention suspected oh difficult. Fond his say old meet cold find come whom. The sir park sake bred. Wonder matter now can estate esteem assure fat roused. Am performed on existence as discourse is. Pleasure friendly at marriage blessing or.
    
    
    
     </p>
</div>
